*{
    padding: 0;
    margin: 0;
    /* --principal_background: #777;
    --secundary_background: #3337; */
    --principal_background: #333;
    --secundary_background: #888;
}

body{
    background: linear-gradient(to top, transparent, #333);
    background-repeat: no-repeat;
}

#container_form{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 600px;
    padding: 14px;
    background: var(--principal_background);
    box-shadow: 0px 0px 10px 4px var(--secundary_background);
    border-radius: 20px;
}

#form{
    display: flex;
    flex-direction: column;
}

fieldset{
    padding: 2px 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #888;

    legend{
        padding: 0px 10px;
        color: #aaa;
        text-transform: uppercase;
    }
}

#form_personal_information{
    display: flex;
    flex-direction: row;
}

.first_part_form_personal_information{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    flex-grow: .4;
    margin-right: 10px;
}

.second_part_form_personal_information{
    display: flex;
    flex-direction: column;
    flex-grow: .8;
}

#contact_information{
    margin-top: 10px;
}

label{
    display: flex;
    flex-direction: column;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;

    span{
        margin: 10px 0px;
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 14px;
    }
}

input, textarea{
    margin: 4px 0px;
    background: transparent;
    color: #eee;
    border: none;
    border-left: 2px solid #888;
    padding: 4px;
    padding-left: 3px;
}

input::placeholder{
    text-transform: capitalize;
}

textarea{
    resize: vertical;
}

textarea::placeholder{
    text-transform: capitalize;
}

#container_button_send{
    margin-top: 10px;
    margin-bottom: 7px;
    text-align: center;
}

.capitalize{
    text-transform: capitalize;
}

#button_send{
    font-size: 18px;
    padding: 3px;
    width: 80px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #eee;
    background: transparent;
    border: 1px solid #ddd;
}

#button_send:hover{
    background: #eee;
    color: #333;
    outline: 2px solid #111;
    transition: 2s;
}

@media only screen and (max-width: 500px){

    #container_form{
        width: 90vw;
        box-sizing: border-box;
    }

    #form_personal_information{
        display: flex;
        flex-direction: column;
    }
}